* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-45deg, rgb(186, 168, 218), rgb(209, 171, 206), rgb(206, 183, 156));
    display: flex;
    justify-content: center;

}

main {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100vh;
    
}

.celular {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    padding-right: 20px;
}

.logo {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(238, 212, 236);
    border-radius: 7px;
    padding: 40px;
    border: rgb(68, 38, 66) 1px;
    position: relative;
    margin-bottom: 10px;
    padding-left: 120px;
    padding-right: 120px;
}


.login .perfil {

    border: rgb(155, 115, 155) solid 1px;
    display: flex;
    margin-bottom: 70px;
    border-radius: 60px;
    padding: 10px;
}

.continue {
    display: flex;
    background: rgb(50, 160, 224);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 26%;
    padding: 6px;
}

.rmdir {
    position: absolute;
    bottom: 14%;
}

.not-is {
    background: rgb(238, 212, 236);
    border-radius: 7px;
    padding: 10px;
    word-spacing: 2px;
    text-align: center;
    font-size: 12px;
}

.not-is a {
    color: rgb(50, 160, 224);
    font-size: 12px;
}

.redes-sociais {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

.redes-sociais p {
    font-size: 12px;
}

.img-redes {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .celular {
        display: none;
    }

}
